<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TagOrder 관리자 페이지</title>
  <link href="./allcss.css" rel="stylesheet">
</head>
<body>
    <!--단순히 정산, 메뉴관리 이동 스크립트, GET방식으로 보냄, 관련 nodejs는 254~259-->
  <div class="grid-container">
   <form class="menu_container" action="/moveToOrder" method="GET">
       <button type="submit">
           <h2>정산 관리</h2>
       </button>
   </form>
   <form class="menu_container" action="/TestStore/TestStore_admin/Modifying_menu_page/TestStore_menu_modify" method="GET">
          <button type="submit">
              <h2>메뉴 관리</h2>
          </button>
      </form>
  </div>
</div>

</body>
</html>