<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TagOrder 관리자 페이지</title>
  <link href="./allcss.css" rel="stylesheet">
</head>
<body>
  <div class="grid-container">
      <div class="menu_container">
        <p>정산관리</p>
        <h2>정산관리</h2>
        <p>Price</p>
        <p>description</p>
      </div>

      <div class="menu_container">
          <p>메뉴 관리</p>
          <h2>메뉴 관리</h2>
          <p>Price</p>
          <p>description</p>
       </div>

   <button class="menu_container" type="submit">
       <p>메뉴 관리</p>
       <h2>메뉴 관리</h2>
       <p>Price</p>
       <p>description</p>
   </button>
  </div>
</div>

</body>
</html>