<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>태그오더</title>
</head>
<body>
    <header>
        <h1>잠시만 기다려주세요!</h1>
    </header>
    <main>
        <p>DB렌더링 문제로 잠시 여기서 있다가 바로 이동합니다!.</p>
        <script>
            // 페이지 로드 후 1초 뒤에 다른 페이지로 이동
            setTimeout(() => {
                window.location.href = './firstStore/menu2';
            }, 500); // 500ms = 0.5초
        </script>
    </main>
    <footer>
        <p>&copy; 2024 Graduation Project</p>
    </footer>
</body>
</html>