 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     }
 .test-container {
            display: grid;
            width:auto;
            /* 그리드 갯수,크기 조정 */
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr 3fr;
            /* 그리드 템플릿 */
            grid-template-areas:
                "header header header"
                "aside   main    main"
                "footer footer footer";
            height: 100vh; /* 화면 전체 채움 */

        }

        /* grid-area이름을 지정한다 */
        header {
            grid-area: header;
            background-color: #f0f0f0;
            text-align: center;
            padding: 20px;
        }
        main {
            grid-area: main;
            background-color: #e0e0e0;
            padding: 20px;
            overflow: auto;
        }
        aside {
            grid-area: aside;
            background-color: #d0d0d0;
            padding: 20px;
            overflow: auto;
        }
        footer {
            grid-area: footer;
            background-color: #c0c0c0;
            text-align: center;
            padding: 20px;
        }